/ciclo2/Prueba/nbproject/private/
/ciclo2/Prueba/build/
/ciclo2/EjercicioUno/nbproject/private/
/ciclo2/EjercicioUno/build/
/ciclo2/EjercicioDos/nbproject/private/
/ciclo2/EjercicioDos/build/
/ciclo2/semana1/EjercicioTres/nbproject/private/
/ciclo2/semana1/EjercicioTres/build/
/ciclo2/semana2/EjercicioSwitch/nbproject/private/
/ciclo2/semana2/EjercicioSwitch/build/
/ciclo2/semana2/EjercicioClaseUnica/nbproject/private/
/ciclo2/semana2/EjercicioClaseUnica/build/
